.vhPic {
    background-size: cover;
    background-image: url(pizza.jpg);
    height: 100vh;
}

.nav1 {
    background-color:#000!important;
    color:#FFD700!important;
    opacity: 0.8;
    filter:(opacity=80);
    
    
}

.nav-padding {
    padding-right: 1.0rem;
    padding-left: 1.5rem;
}

.headerText {
    text-align: center;
    margin-top: 33vh;
    text-shadow: 2px 2px 2px black;
}