.vhPic {
    background-size: cover;
    background-image: url(pizza.jpg);
    height: 100vh;
}

#nav1 {
    background-color:#000; /*whichever you want*/
    opacity: 0.8; 
    filter:(opacity=80); 
}

.nav-padding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
